{% extends 'Navbars/blog_nav.html' %}
{% block title %}Blog Home{%endblock%}
{% block items %}

<h1>Blog Home</h1>
<ul>
{% for post in object_list %}
    <a href="{% url 'blogdetail' post.pk %}"><li>{{post.title}}</li></a>
    <a href="{% url 'category_page' post.category %}">({{ post.category }})</a> ||  
    by - {{post.author}}

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            - <a href="{% url 'updatePost' post.pk %}">( Edit )</a>
            <a href="{% url 'deletePost' post.pk %}">( Delete )</a>
        {% endif %}
    {% endif %}

    <br><small>Posted on - {{post.post_date}} at {{post.post_time}} </small><br>
    {% if post.thumbnail %}
    <br>
        <img src="{{post.thumbnail.url}}" width="500px" alt=""><br><br>
    {% endif %}
    {{post.body | truncatechars:200 | safe}} <br><br>  <!--{{value |truncatechars:9 }}truncate text excluding 9 character-->
{% endfor %}
</ul>

{%endblock%}