{% extends 'Navbars/blog_nav.html' %}
{% block title %}{{ post.title }}{%endblock%}
{% block items %}


<h1>{{ post.title }}</h1> <small>Posted on - </small>{{post.post_date}} <br><br>
<small>by : {{post.author}}</small>
{% if user.is_authenticated%}
    {% if user.id == post.author.id %}
        <a class="btn btn-secondary" href="{% url 'updatePost' post.pk %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'deletePost' post.pk %}">Delete</a>
    {% endif %}
{% endif %}
<hr>
{{post.body | safe}}
<br><br>
<a class="btn btn-outline-secondary" href="{% url 'bloghome' %}">Back</a>

<br><br>
<hr>
<br>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
    {% if liked %}
    <button type="submit" name="post_id", value="{{ post.id }}", class="btn btn-outline-danger btn-sm">Unlike</button>
    {% else %}
    <button type="submit" name="post_id", value="{{ post.id }}", class="btn btn-outline-primary btn-sm">Like</button>
    {% endif %}
    {% else %}
    <a href="{% url 'login' %}">Login</a> to like the blog
    {% endif %}
    - {{ total_likes }} Likes
</form>

{%endblock%}