{% extends 'Navbars/base_nav.html' %}
{% block title %}Create blog post{%endblock%}
{% block items %}

{% if user.is_authenticated %}
    <h1>Create Blog Post</h1>

    <br><br>
    <form method="POST">
        <div class="form-group">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-secondary">Post</button>
    </div>
    </form>

<!--javascript code to render the user name from the frontend to the backend to determine the user-->
    <script>
        var name = "{{user.id}}"; //we can use django code inside javascript too...
        document.getElementById("postCreator").value = name; //The Text area element in CreatePostForm in forms.py has the id postCreator.
    </script>

{% else %}
    <h2>Please login to Create a Post</h2>
{% endif %}

{%endblock%}