{% extends 'Navbars/base_nav.html' %}
{% block title %}Edit blog post{%endblock%}
{% block items %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Edit Blog Post</h1>
        <br><br>
        <form method="POST">
            <div class="form-group">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <button class="btn btn-secondary">Update</button>
        </div>
        </form>
        {% else %}
            <h2>You don't have access to edit this post</h2>
        {% endif %}
{% else %}
 <h2>Please login to Update a Post</h2>
{% endif %}


{%endblock%}