{% extends 'Navbars/base_nav.html' %}
{% block title %}Login{%endblock%}
{% block items %}

<h1>Login</h1>

<br><br>
<form method="POST">
    <div class="form-group">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" name="username">
      </div>
      <br>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password">
      </div>
      <br>
    <button class="btn btn-secondary">Login</button>
</div>
</form>


{%endblock%}