{% extends 'Navbars/blog_nav.html' %}
{% load static %}
{% block title %}{{ page_user }}{%endblock%}
{% block items %}

<h1>User Profile</h1>

<br><br>

<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        {% if page_user.profile_pic %}
          <img src="{{page_user.profile_pic.url}}" class="card-img" alt="...">
        {% else %}
          <img src="{% static 'Media/images/members/default/profile-pic.jpg' %}" class="card-img" alt="">
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <p class="small text-muted">

                {%if page_user.facebook_url%}
                    <a href="https://www.{{page_user.facebook_url}}">Facebook</a> | 
                {% endif %}


                {%if page_user.instagram_url%}
                    <a href="https://www.{{page_user.instagram_url}}">Instagram</a> | 
                {% endif %}


                {%if page_user.website_url%}
                    <a href="https://www.{{page_user.website_url}}">Website</a> | 
                {% endif %}


                {%if page_user.twitter_url%}
                    <a href="https://www.{{page_user.twitter_url}}">Twitter</a> | 
                {% endif %}


                {%if page_user.linkedin_url%}
                    <a href="https://www.{{page_user.linkedin_url}}">Linkedin</a> | 
                {% endif %}


                {%if page_user.snapchat_url%}
                    <a href="https://www.{{page_user.snapchat_url}}">Snapchat</a> | 
                {% endif %}
          </p>
          <h5 class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h5>
          <p class="card-text">{{page_user.bio}}.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

{%endblock%}